<div id='home-page'>
  <div class='container mx-auto' x-data='components.filter()'>
    <h1>WoT Mastery</h1>
    <div class='dropdown-block'>
      <div class='form-dropdown' :class="{ 'expanded': isOpen }">
        <div class='form-dropdown-label' @click='toggle()'>Filters</div>
        <div class='form-dropdown-list' x-show='isOpen' @click.away='isOpen = false'>
          <div class='form-dropdown-list-items'>
            <div class='form-dropdown-list-item'>
              <%- @countries.each do |country| %>
                <div class='form-checkbox mb-2'>
                  <input
                    id="country-<%= country.name['en'] %>"
                    name="country-<%= country.name['en'] %>"
                    class='form-checkbox-input'
                    type='checkbox'
                    x-bind:checked='countries.includes(<%= country.id %>)'
                  />
                  <label
                    class='form-label'
                    for="country-<%= country.name['en'] %>"
                    x-on:click.prevent
                    @click="toggleFilter('countries', <%= country.id %>)"
                  >
                    <%= country.name['en'] %>
                  </label>
                </div>
              <% end %>
            </div>
            <div class='form-dropdown-list-item'>
              <%- @tank_types_filter_values.each do |element| %>
                <div class='form-checkbox mb-2'>
                  <input
                    id='<%= element[0] %>'
                    name='<%= element[0] %>'
                    class='form-checkbox-input'
                    type='checkbox'
                    x-bind:checked='types.includes(<%= element[0] %>)'
                  />
                  <label
                    class='form-label'
                    for='<%= element[0] %>'
                    x-on:click.prevent
                    @click="toggleFilter('types', <%= element[0] %>)"
                  >
                    <%= element[1] %>
                  </label>
                </div>
              <% end %>
            </div>
            <div class='form-dropdown-list-item'>
              <%- %w[I II III IV V VI VII VIII IX X].each.with_index do |tier, index| %>
                <div class='form-checkbox mb-2'>
                  <input
                    id='checkbox-tier-<%= index %>'
                    name='checkbox-tier-<%= index %>'
                    class='form-checkbox-input'
                    type='checkbox'
                    x-bind:checked='tiers.includes(<%= index + 1 %>)'
                  />
                  <label
                    class='form-label'
                    for='checkbox-tier-<%= index %>'
                    x-on:click.prevent
                    @click="toggleFilter('tiers', <%= index + 1 %>)"
                  >
                    <%= tier %>
                  </label>
                </div>
              <% end %>
            </div>
            <div class='form-dropdown-list-item'>
              <%- @tanks.each do |tank| %>
                <div
                  class='form-checkbox mb-2'
                  x-show='(countries.length === 0 || countries.includes(<%= tank.country_id %>)) && (types.length === 0 || types.includes(<%= tank.type %>)) && (tiers.length === 0 || tiers.includes(<%= tank.tier %>))'
                >
                  <input
                    id='tank-<%= tank.id %>'
                    name='tank-<%= tank.id %>'
                    class='form-checkbox-input'
                    type='checkbox'
                    x-bind:checked='tanks.includes(<%= tank.id %>)'
                  />
                  <label
                    class='form-label'
                    for='tank-<%= tank.id %>'
                    x-on:click.prevent
                    @click="toggleFilter('tanks', <%= tank.id %>)"
                  >
                    <%= tank.name['en'] %>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
          <div class='form-dropdown-actions'>
            <a class='btn btn-reverse mr-4' x-on:click.prevent @click='resetFilters'>Reset</a>
            <a class='btn' :class="{ 'disabled': tanks.length === 0 }" x-on:click.prevent @click='if (tanks.length !== 0) { apply() }'>Apply</a>
          </div>
        </div>
      </div>
    </div>
    <div class='tanks-list' x-show='tanksList.length > 0'>
      <table>
        <thead>
          <tr>
            <th>Country</th>
            <th @click="sortBy('type')">Type</th>
            <th @click="sortBy('tier')">Tier</th>
            <th>Vehicle name</th>
            <th @click="sortBy('first_grade_boundary')">1 grade</th>
            <th @click="sortBy('master_grade_boundary')">Master</th>
            <th @click="sortBy('damage_for_master')">Need only damage</th>
            <th @click="sortBy('damage_for_master_per_shots')">Need success shots</th>
            <th @click="sortBy('damage_for_master_by_health')">Damage / HP</th>
          </tr>
        </thead>
        <tbody>
          <template x-for='tank in tanksList' :key='tank.id'>
            <tr class='tank'>
              <td x-text='tank.attributes.country_name.en'></td>
              <td x-text='tank.attributes.type'></td>
              <td x-text='tank.attributes.tier'></td>
              <td class='left' x-text='tank.attributes.name.en'></td>
              <td x-text='tank.attributes.first_grade_boundary'></td>
              <td x-text='tank.attributes.master_grade_boundary'></td>
              <td x-text='tank.attributes.damage_for_master'></td>
              <td x-text='tank.attributes.damage_for_master_per_shots'></td>
              <td x-text='tank.attributes.damage_for_master_by_health'></td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</div>
