<div id='home-page'>
  <div class='container mx-auto' x-data='components.filter()'>
    <h1>WoT Mastery</h1>
    <div class='dropdown-block'>
      <div class='form-dropdown' :class="{ 'expanded': isOpen }">
        <div class='form-dropdown-label' @click='toggle()'><%= t('welcome.filters') %></div>
        <div class='form-dropdown-list' x-show='isOpen' @click.away='isOpen = false'>
          <div class='form-dropdown-list-items'>
            <div class='form-dropdown-list-item'>
              <%- @countries.each do |country| %>
                <div class='form-checkbox mb-2'>
                  <input
                    id="country-<%= country.name['en'] %>"
                    name="country-<%= country.name['en'] %>"
                    class='form-checkbox-input'
                    type='checkbox'
                    x-bind:checked='countries.includes(<%= country.id %>)'
                  />
                  <label
                    class='form-label'
                    for="country-<%= country.name['en'] %>"
                    x-on:click.prevent
                    @click="toggleFilter('countries', <%= country.id %>)"
                  >
                    <%= country.name[I18n.locale.to_s] %>
                  </label>
                </div>
              <% end %>
            </div>
            <div class='form-dropdown-list-item'>
              <%- @tanks_types.each.with_index do |tanks_type, index| %>
                <div class='form-checkbox mb-2'>
                  <input
                    id='<%= tanks_type.name %>'
                    name='<%= tanks_type.name %>'
                    class='form-checkbox-input'
                    type='checkbox'
                    x-bind:checked='types.includes(<%= tanks_type.id %>)'
                  />
                  <label
                    class='form-label'
                    for='<%= tanks_type.name %>'
                    x-on:click.prevent
                    @click="toggleFilter('types', <%= tanks_type.id %>)"
                  >
                    <%= Tanks::Type::TYPE_VALUES[index][I18n.locale.to_s] %>
                  </label>
                </div>
              <% end %>
            </div>
            <div class='form-dropdown-list-item'>
              <%- %w[I II III IV V VI VII VIII IX X].each.with_index do |tier, index| %>
                <div class='form-checkbox mb-2'>
                  <input
                    id='checkbox-tier-<%= index %>'
                    name='checkbox-tier-<%= index %>'
                    class='form-checkbox-input'
                    type='checkbox'
                    x-bind:checked='tiers.includes(<%= index + 1 %>)'
                  />
                  <label
                    class='form-label'
                    for='checkbox-tier-<%= index %>'
                    x-on:click.prevent
                    @click="toggleFilter('tiers', <%= index + 1 %>)"
                  >
                    <%= tier %>
                  </label>
                </div>
              <% end %>
            </div>
            <div class='form-dropdown-list-item limited'>
              <%- @tanks.each do |tank| %>
                <div
                  class='form-checkbox mb-2'
                  x-show='(countries.length === 0 || countries.includes(<%= tank.country_id %>)) && (types.length === 0 || types.includes(<%= tank.tanks_type.id %>)) && (tiers.length === 0 || tiers.includes(<%= tank.tier %>))'
                >
                  <input
                    id='tank-<%= tank.id %>'
                    name='tank-<%= tank.id %>'
                    class='form-checkbox-input'
                    type='checkbox'
                    x-bind:checked='tanks.includes(<%= tank.id %>)'
                  />
                  <label
                    class='form-label'
                    for='tank-<%= tank.id %>'
                    x-on:click.prevent
                    @click="toggleFilter('tanks', <%= tank.id %>)"
                  >
                    <%= tank.name[I18n.locale.to_s] %>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
          <div class='form-dropdown-actions'>
            <a class='btn btn-reverse mr-4' x-on:click.prevent @click='resetFilters'>Reset</a>
            <a class='btn' :class="{ 'disabled': countries.length === 0 && types.length === 0 && tiers.length === 0 && tanks.length === 0 }" x-on:click.prevent @click='if (countries.length !== 0 || types.length !== 0 || tiers.length !== 0 || tanks.length !== 0) { apply() }'>Apply</a>
          </div>
        </div>
      </div>
    </div>
    <div class='tanks-list' x-show='tanksList.length > 0'>
      <div class='tanks-list-header'>
        <div class='flag'><%= t('tanks_list.header.country') %></div>
        <div class='type' @click="sortBy('type')"><%= t('tanks_list.header.type') %></div>
        <div class='tier' @click="sortBy('tier')"><%= t('tanks_list.header.tier') %></div>
        <div class='name'><%= t('tanks_list.header.name') %></div>
        <div class='first-grade hoverable' @click="sortBy('first_grade_boundary')">
          <span class='icon' />
          <span class='tooltip'><%= t('tanks_list.header.first') %></span>
        </div>
        <div class='master-grade hoverable' @click="sortBy('master_grade_boundary')">
          <span class='icon' />
          <span class='tooltip'><%= t('tanks_list.header.master') %></span>
        </div>
        <div class='additional hoverable' @click="sortBy('damage_for_master')">
          <%= t('tanks_list.header.nod') %>
          <span class='tooltip'><%= t('tanks_list.header.nod_full') %></span>
        </div>
        <div class='additional hoverable' @click="sortBy('damage_for_master_per_shots')">
          <%= t('tanks_list.header.nss') %>
          <span class='tooltip'><%= t('tanks_list.header.nss_full') %></span>
        </div>
        <div class='additional hoverable' @click="sortBy('damage_for_master_by_health')">
          <%= t('tanks_list.header.damage_hp') %>
          <span class='tooltip'><%= t('tanks_list.header.damage_hp_full') %></span>
        </div>
        <div class='additional hoverable' @click="sortBy('coefficient_precision')">
          <%= t('tanks_list.header.precision') %>
          <span class='tooltip'><%= t('tanks_list.header.precision_full') %></span>
        </div>
        <div class='additional'></div>
      </div>
      <template x-for='tank in tanksList' :key='tank.id'>
        <div class='tank'>
          <div class='flag' :type='tank.attributes.country_name.en'><span /></div>
          <div class='type' :type='tank.attributes.type'><span /></div>
          <div class='tier' x-text='tank.attributes.tier'></div>
          <div class='name' x-text="tank.attributes.name['<%= I18n.locale %>']"></div>
          <div class='first-grade' x-text='tank.attributes.first_grade_boundary'></div>
          <div class='master-grade' x-text='tank.attributes.master_grade_boundary'></div>
          <div class='additional' x-text='tank.attributes.damage_for_master'></div>
          <div class='additional' x-text='tank.attributes.damage_for_master_per_shots'></div>
          <div class='additional' x-text='tank.attributes.damage_for_master_by_health'></div>
          <div class='additional' x-text='tank.attributes.coefficient_precision'></div>
          <div class='additional'></div>
        </div>
      </template>
    </div>
  </div>
</div>
